#main-banner {
    background-color: rgb(244, 134, 151);
}

#side-articles {
    background-color: rgb(19, 18, 18);
    color: rgb(237, 237, 237);
}

#readmore-btn {
    background-color: coral;
    color: rgb(237, 237, 237);
    border-radius: 0;
}

.subphoto {
    background-color: turquoise;
    height: 150px;
    width: 100px;
}